
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	

   		<%= f.label 'Odaberite neki od vasih kvizova' %>
  		<%= collection_select(:question, :quiz_id, @quizovi_korisnika, :id, :naziv, {:prompt=>true}, {:class=>'form-control'}, {:selected => nazivPitanja(params[@quiz_id_sel])}) %></p>
	
  </div>
  <div class="field">
    <%= f.label 'Tekst pitanja' %><br>
    <%= f.text_area :pitanje, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'KRERIAJ PITANJE', class: "btn btn-primary" %>
  </div>
<% end %>
