<p id="notice"><%= notice %></p>

<h1>Prikaz pitanja kviza</h1>

<% if @questions.blank? %>
<p>Nemate pristupa ili pitanje iz kviza nema kreiranih pitanja</p>
<% else %>


<div class="panel panel-primary">
  <div class="panel-heading">
  	<b>KVIZ: </b><%=  nazivKviza params[:id_quiz]   %></div>
  <div class="panel-body">
<div class="table">
<table class="table table-hover table table-bordered">
  <thead style="background:black; color:white">
    <tr>
      <th style="width:85%;">Pitanje</th>
      <th style="width:5%; text-align: center">A</th>
      <th style="width:10%" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
	<tr>
      	<div class="row">
      		<div class="col-md-8">
        <td><%= question.pitanje %></td>
        </div>
        <div class="col-md-4">
        
        <td style="font-size: 1em; text-align:center"> <%= link_to formatInt(@odgovoraPoPitanju[question.id]), {:controller => "odgovors", :action => "index", :question_id => question.id }, :class => "badge" %>  
        	</td>
    	
    	<td><%= link_to "DODAJ PITANJE", {:controller => "questions", :action => "new", :quiz_id => question.quiz_id}, :class => "btn btn-warning btn-xs"%> </td>
        <td><%= link_to "DODAJ ODGOVOR", {:controller => "odgovors", :action => "new", :quiz_id => question.quiz_id, :question_id => question.id }, :class => "btn btn-warning btn-xs"%></td>
        <td><%= link_to 'UREDI', edit_question_path(question), :class => "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'OBRISI', question, method: :delete, data: { confirm: 'Sigurni ste da zelite obrisati pitanje u kvizu?' }, :class => "btn btn-danger btn-xs" %></td>
        </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
<% end %>
<%= render 'layouts/btn_new_quiz_pitanje.html.erb' %>

