<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :naslov %><br>
    <%= f.text_field :naslov %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis %>
  </div>
  <div class="field">
    <%= f.label :datumstart %><br>
    <%= f.datetime_select :datumstart %>
  </div>
  <div class="field">
    <%= f.label :datumstop %><br>
    <%= f.datetime_select :datumstop %>
  </div>
  <div class="field">
    <%= f.label :pokusaja %><br>
    <%= f.number_field :pokusaja %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
