<p id="notice"><%= notice %></p>

<h1>Prikaz Vasih kvizova</h1>

<% if !@quizzes_my.blank? %>
<table id="tblListaKvizovi">
  <thead>
    <tr>
      <th>Naslov</th>
      <th>Opis</th>
      <th>Datumstart</th>
      <th>Datumstop</th>
      <th>Pokusaja</th>
      <th colspan="5">Editovanje</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes_my.each do |quiz| %>
      <tr>
        <td><%= quiz.naziv %></td>
        <td><%= quiz.opis %></td>
        <td><%= quiz.datumstart %></td>
        <td><%= quiz.datumstop %></td>
        <td><%= quiz.pokusaja %></td>

        <td><%= link_to 'Show', quiz %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Dodaj pitanje', new_question_path(quiz) %></td>
        <td><%= link_to "Dodaj pitanje", {:controller => "questions", :action => "new", :quiz_trenutni => quiz.id }%> </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Vi trenutno nemate kreiran ni jedan kviz u bazi podataka
	<%= link_to 'Kreiraj novi kviz', new_quiz_path %>
	</p>

<% end %>

<br>


