<% provide(:title, 'Sign up') %>
<!--
<h1>Kreiranje korisnickog naloga</h1>
<p>Find me in app/views/users/new.html.erb</p>
-->
<% provide(:title, 'Sign up') %>
<h1>Kreiranje korisnickog naloga</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
	
	<%= #Renderiranje poruka
	 %>
    <%= render 'poruke_render/error_messages' %>

    
      <%= f.label :name,  "Krisnicko ime i prezime"%>
      <%= f.text_field :name, class: 'form-control', placeholder: "Unesite ime i prezime" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: "Vasu email adresu" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "Password za login (minimalno 6 karaktera)" %>

      <%= f.label :password_confirmation, "Potvrda" %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Potvrdite uneseni password" %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>