<%= form_for(@odgovor) do |f| %>
  <% if @odgovor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odgovor.errors.count, "error") %> prohibited this odgovor from being saved:</h2>

      <ul>
      <% @odgovor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   		<%= f.label 'Odaberite pitanje u Vasem kvizu' %>
   		<%= collection_select(:odgovor, :question_id, @pitanja_korisnika, :id, :pitanje, {:selected => params[:question_id].to_i}, {:class=>'form-control'}) %></p>

  <div class="field">
    <%= f.label "Unesite odogovor na pitanje" %><br>
    <%= f.text_area :opcija, class: 'form-control' %>
  </div>
  <div class="field" >
  	<%= f.check_box :tacan, class:"chk_odg_tacan" %>
    <%= f.label "Ovaj odgovor je tacan" %>
  </div>
  <br />
  <div class="actions">
  	<% if params[:action] == "edit"%>
    <%= f.submit "IZMJENI ODGOVOR", class: "btn btn-primary" %>
    <% else %>
    <%= f.submit "KRERIAJ ODGOVOR", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
