<%= form_for(@odgovor) do |f| %>
  <% if @odgovor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odgovor.errors.count, "error") %> prohibited this odgovor from being saved:</h2>

      <ul>
      <% @odgovor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   		<%= f.label 'Odaberite pitanje u Vasem kvizu' %>
   		<% if !params[:trenutno_pitanja].nil? %>
  				<%= collection_select(:odgovor, :question_id, @pitanja_korisnika, :id, :pitanje, {:class=>'form-control'}, {:selected => @trenutno_pitanje.to_i}) %></p>
		<% else %>
				<%= collection_select(:odgovor, :question_id, @pitanja_korisnika, :id, :pitanje, {:class=>'form-control'}) %></p>
		<% end %>
  <div class="field">
    <%= f.label "Unesite odogovor na pitanje" %><br>
    <%= f.text_area :opcija, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label "Ovaj odgovor je tacan" %><br>
    <%= f.check_box :tacan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
